body {
    background-color: #555b6e;
    padding-top: 20px;
}

* {
    line-height: 18px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#div_in,
#div_out {
    max-width: 600px;
    min-width: 400px;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #89b0ae;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#ddl_type,
#txt_scope,
#txt_subject,
#txa_body,
#txa_footer,
#p_warning,
#p_formatted,
#div_container_for_formatted,
#btn_copy {
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: .375rem .75rem;
    color: #333333;
    background-color: #ffffff;
}

#ddl_type,
#txt_scope,
#txt_subject,
#txa_body,
#txa_footer,
#p_warning,
#p_formatted,
#div_container_for_formatted {
    width: 100%;
}

#ddl_type:focus,
#txt_scope:focus,
#txt_subject:focus,
#txa_body:focus,
#txa_footer:focus {
    /* outline: none; */
    outline-color: #ebb86d;
}

#txa_body,
#txa_footer {
    resize: vertical;
}

#div_container_for_formatted,
#p_warning {
    padding: 1.375rem .75rem;
    box-sizing: border-box;
}

#container1 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

#container2 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

#ddl_type {
    width: 90%;
}

#txt_scope {}

#p_warning {
    background-color: #ffefbb;
    border-color: #ffe9a0;
    color: #856404;
}

#p_formatted {
    border: 0px solid #e5e5e5;
    word-wrap: break-word;
}

#div_container_for_formatted {
    background-color: #FFFFFF;
}

#embedded_google_sheet {
    max-width: 600px;
    min-width: 400px;
    width: 100%;
    height: 490px;
    box-sizing: border-box;
    border-radius: 3px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}