#btn_clearScope,
#btn_clearSubject,
#btn_clearBody,
#btn_clearFooter {
    position: absolute;
    margin-top: 4.5px;
    margin-left: -26.5px;
    background-color: #ffffff;
    border-width: 0;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    outline-style: none;
}

#btn_clearScope:hover,
#btn_clearSubject:hover,
#btn_clearBody:hover,
#btn_clearFooter:hover {
    width: 26px;
    height: 26px;
    margin-top: 2.5px;
    margin-left: -28.5px;
}

.close-x {
    stroke: #151513;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 3px;
}

#btn_history_entry_clear {
    position: absolute;
    z-index: 1;

    margin-top: 4px;
    right: 7px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    outline-style: none;
}

#btn_history_entry_clear:hover {
    width: 26px;
    height: 26px;
    margin-top: 2px;
    right: 5px;
}
